body {
  margin-top: 50px ;
  padding: 0;
  font-family: sans-serif;
  background-color: #A6CCF5;
}

.bgimg {
  background-image: url("./images/home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  height: 100vh;
}

.resume {
  width: 100%;

}

.navHeight {
  height: 50px;
  background-color: black;

}

.welcomeText {
  font-size: 500%;
  color: white;
}

.projectTitle {
  text-align: center;
  font-size: 250%;
  margin-bottom: -20px;
}

.centerAndSize {
  text-align: center;
  font-size: 250%;
}
