body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./images/bgLaptop.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ui.segment.inverted {
  background-color: black;
  margin-bottom: -5px;
  margin-top: -10px;
}

/* .bgimg {
  background-image: url("./images/bgLaptop.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  height: 100vh;
} */

.resume {
  width: 100%;
}

.w {
  height: 100%;
}

.welcomeText {
  font-size: 500%;
  position: absolute;
  top: 35%;
}

.projectTitle {
  text-align: center;
  font-size: 250%;
  margin-bottom: -20px;
}

.centerAndSize {
  text-align: center;
  font-size: 250%;
}

h1, h3 {
  font-family: 'Italiana', cursive;
}

.profileMargin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.resumePage {
  background-color: black;
  margin: -15px;
}

/* font-family: 'Oswald', sans-serif;
font-family: 'Lemon', cursive; */

.ui.card, .ui.cards>.card {
  width: 100%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
