body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 110%;
  background-image: url("./images/bgLaptop.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ui.segment.inverted {
  background-color: black;
  margin-bottom: -5px;
  margin-top: -10px;
}

.resume {
  width: 100%;
}

.w {
  height: 100%;
}

.welcomeText {
  font-size: 500%;
  position: absolute;
  top: 35%;
}

.projectTitle {
  text-align: center;
  font-size: 250%;
  margin-bottom: -20px;
}

.centerAndSize {
  text-align: center;
  font-size: 250%;
}



.profileMargin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.resumePage {
  background-color: black;
  margin: -15px;
}


.ui.card, .ui.cards>.card {
  width: 100%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


h1, h3 {
  font-family: 'Italiana', cursive;
}

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }
    .ui.stackable.grid>.wide.column {
      margin-top: 30px !important;
      margin-bottom: 25px !important;
    }
    .ui.items:not(.unstackable)>.item>.imgMargin {
      margin-bottom: 40px;
    }
    .ui.button {
      margin: 2px;
    }
    .ui.divided.items>.item {
      text-align: center;
    }
    .ui.cards~.ui.cards {
      text-align: center;
    }
}

@media only screen and (min-width: 768px) {
  .large-hide{
      display: none !important;
  }
}
